<!-- <div class="cdb-form" style="width: 100%">
    <input type="text" class="form-control" id="cdb-autocomplete" name="q" />
    <label>Email</label>
  </div> -->
  <!-- <input type="text" id="member" name="member" value="">Number of members: (max. 10)<br />
<a id="filldetails" onclick="addFields()">Fill Details</a>
<div id="container"> -->

   

<section class="page-section" id="follow">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Follow</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            <div class="">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN" autocomplete="off" action="/action_page.php">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                    <div class="form-floating mb-3 autocomplete">
                        <input class="form-control" id="myInput" type="text" name="myCountry" placeholder="Enter your Village" data-sb-validations="required" />
                        <label for="phone">Village</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
                    </div>  
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="text" placeholder="Enter Your Mandalam" data-sb-validations="required" />
                        <label for="phone">Mandalam</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="number" placeholder="111111" data-sb-validations="required" />
                        <label for="phone">Pincode</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="text" placeholder="Enter your Distict"  data-sb-validations="required" />
                        <label for="phone">Distict</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="text" type="text" placeholder="Enter your Voter id"  data-sb-validations="required" />
                        <label for="phone">Voter ID</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="memberCount" name="member" id="member" value="" class="form-control">Number of Voters in Your Family: (max. 10)<br />
                        <button (click)="addFields()">Fill Details</button>
                        <div id="container" >
                            <div *ngFor="let member of members" class="form-floating mb-3">
                                Member {{member.id}}: 
                                <div class="form-floating mb-3">
                                    <label for="phone">Name</label>
                                    <input type="text"  class="form-control" id="{{member.id}}" placeholder="Enter your Name" [(ngModel)]="member.name" name="{{member.id}}" />
                                    <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <label for="phone">Aadhar Number</label>
                                    <input type="text"  class="form-control" id="{{member.id}}" placeholder="Enter your Aadhar Number" [(ngModel)]="member.adharnbr" name="{{member.id}}" />
                                    <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <label for="phone">Voter ID</label>
                                    <input type="text"  class="form-control" id="{{member.id}}" placeholder="Enter your Voter ID" [(ngModel)]="member.voterid" name="{{member.id}}" />
                                    <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                      
  
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit" style="width: 160px;">Follow</button>
                </form>
            </div>
        </div>
    </div>
</section>



  <!-- <script defer type="module">
    var demo1 = new CDBAutocomplete({
      selector: '#cdb-autocomplete',
      minChars: 1,
      source: function (term, suggest) {
        term = term.toLowerCase();
        var choices = [
          'Anakapalli',
          'Anathapuram',
          'Asp',
          'Assembly',
          'BASIC',
          'Batch',
          'C',
          'C++',
          'CSS',
          'Clojure',
          'COBOL',
          'ColdFusion',
          'Erlang',
          'Fortran',
          'Groovy',
          'Haskell',
          'HTML',
          'Java',
          'JavaScript',
          'Lisp',
          'Perl',
          'PHP',
          'PowerShell',
          'Python',
          'Ruby',
          'Scala',
          'Scheme',
          'SQL',
          'TeX',
          'XML',
        ];
        var suggestions = [];
        for (var i = 0; i < choices.length; i++)
          if (~choices[i].toLowerCase().indexOf(term))
            suggestions.push(choices[i]);
        suggest(suggestions);
      },
    });
  </script> -->
    

